:root {
    --main-text-color: #757575;
    --title-color:  #212121;
    --accent-color: #2196f3;
    --second-accent-color: #ffffff;
    --header-background-color: #ffffff;
    --body-background-color: #E5E5E5;
    --team-section-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
    --footer-contacts: rgba(255, 255, 255, 0.6);
}

body {
    color: var(--main-text-color);
    background-color: var(--body-background-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}
.list {
    list-style: none;
}
header {
    background-color: #ffffff;
}
.name {
    color: var(--accent-color);
    font-family: 'Raleway';
}
.name-studio {
    color: #000000;
}
.name, 
.name-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

/* site nav */
.site-nav .link {
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.name-studio:hover,
.name-studio:focus,
.site-nav .link:hover, 
.site-nav .link:focus,
.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav, .contacts{
    letter-spacing: 0.02em;
}
/* contacts */
.contacts .link {
    color: var(--main-text-color);
}
.contacts .link:hover, 
.contacts .link:focus {
    color: var(--accent-color);
}

/* main */

/* banner */

.banner {
    background-color: var(--footer-background-color);
}

.banner-title {
    color: var(--second-accent-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
}
.banner .button.primary{
    letter-spacing: 0.06em;
}
.button {
    color: var(--title-color);
    background-color: var(--second-accent-color);
}
.button.primary {
    background-color: var(--accent-color);
    color: var(--second-accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
}
.button.secondary {
    background-color: var(--second-accent-color);
    color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

/* sections */
.section-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Преимущества */
.benefits .title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.benefits .description {
    font-size: 14px;
    line-height: 1.7;
}

/* Чем мы занимаемся */

/* Команда */
.section .teams {
    background-color: var(--team-section-background-color);
}

.team .title {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team .position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* Футер */

footer {
    background-color: var(--footer-background-color);
}

.name-second {
    color: var(--second-accent-color);
}

.name-second:hover,
.name-second:focus {
    color: var(--accent-color);
}



.location {
    color: var(--second-accent-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
}

.connection {
    font-size: 14px;
    line-height: 1.7;
}

.phone, .mail {
    color: var(--footer-contacts);
}

.phone:hover, 
.phone:focus,
.mail:hover,
.mail:focus {
    color: var(--accent-color);
}

/* Портфолио */

.filter .button.secondary {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

.projects .title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects .kind {
    font-size: 16px;
    line-height: 1.9;
}
